<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yu.zz.timer">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.yu.zz.timer.TimerActivity"
            android:label="TopBook" />
    </application>
</manifest>