<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yu.zz.topbook">

    <application>
        <activity
            android:name="com.yu.zz.topbook.MainTopBookActivity"
            android:label="TopBook" />
        <activity
            android:name="com.yu.zz.topbook.AssistTopBookActivity"
            android:label="TopBook Assist" />

        <activity android:name="com.yu.zz.topbook.category.CategoryActivity" />
    </application>
</manifest>