<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yu.zz.topbook">

    <application>
        <activity
            android:name="com.yu.zz.topbook.FoundationTopBookActivity"
            android:label="TopBook"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yu.zz.topbook.AssistTopBookActivity"
            android:label="TopBook Assist"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yu.zz.topbook.category.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topic.DetailTopicActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>